@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,700;1,700&family=Varela+Round&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  margin:0;
  padding:0;
  text-decoration: none;
}

.container{
  display:flex;
}
main{
  width: 100%;
  padding: 20px;
}

.top_section{
  display: flex;
  align-items:center;
  padding:2.2vh 0vw;
}
.logo{
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  font-size: 180%;
  color: #3d435a;
}
 
.link{
  


  display: flex;
  color: #3d435a;
  transition: all 0.5s;
  text-decoration: none;
}
.link:hover{
  
  background:#f6f8fe;
  color: #496fff;
  transition: all 0.5s;
}
.active{
  
  background:#496fff;
  color: rgb(255, 255, 255);

}
.searchA{

  font-size: 1.9vh;
}
.searchA::placeholder{
  font-size: 1.9vh;
}
.searchA:focus{
  
    outline: none !important;

  
 
}

